## Preprocessing

In [118]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [119]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

application_df = application_df.drop(['EIN','NAME','STATUS'],axis = 1)

In [120]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [121]:
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [122]:
application_df['INCOME_AMT'].value_counts()
inc_replace = ['1M-5M','5M-10M','100000-499999','10M-50M','50M+']

for inc in inc_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(inc,"100k+")

inc_replace2 = ['0','10000-24999','100000-499999','25000-99999','1-9999']

for inc in inc_replace2:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(inc,"100k-")

application_df['INCOME_AMT'].value_counts()

100k-    29406
100k+     4893
Name: INCOME_AMT, dtype: int64

In [123]:
application_df['USE_CASE'].value_counts()
use_replace = ['CommunityServ','Heathcare']


# Replace in dataframe
for use in use_replace:
    application_df['USE_CASE'] = application_df['USE_CASE'].replace(use,"Other")
    
application_df['USE_CASE'].value_counts()

Preservation    28095
ProductDev       5671
Other             533
Name: USE_CASE, dtype: int64

In [124]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [125]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_types_to_replace = ['T17','T15','T29','T14','T25','T2','T12','T13','T9','T10','T7','T8']


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [126]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE

application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [127]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

In [128]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x<1882].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [129]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

binaries = pd.get_dummies(application_df)
binaries
binaries.shape

(34299, 31)

In [130]:
binaries.columns

Index(['ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4',
       'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_Other', 'USE_CASE_Preservation',
       'USE_CASE_ProductDev', 'ORGANIZATION_Association',
       'ORGANIZATION_Co-operative', 'ORGANIZATION_Corporation',
       'ORGANIZATION_Trust', 'INCOME_AMT_100k+', 'INCOME_AMT_100k-',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [131]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
x = binaries.drop("IS_SUCCESSFUL", axis=1)
y = binaries['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)

In [132]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [139]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=128, activation="relu", input_dim=30))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=64, activation="relu"))

nn.add(tf.keras.layers.Dense(units=48, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation="sigmoid"))


# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_16"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_70 (Dense)             (None, 128)               3968
_________________________________________________________________
dense_71 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_72 (Dense)             (None, 48)                3120
_________________________________________________________________
dense_73 (Dense)             (None, 32)                1568
_________________________________________________________________
dense_74 (Dense)             (None, 1)                 33
=================================================================
Total params: 16,945
Trainable params: 16,945
Non-trainable params: 0
_________________________________________________________________

In [140]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [141]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(x_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5905 - accuracy: 0.6959
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5611 - accuracy: 0.7283
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5597 - accuracy: 0.7285
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7252
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5600 - accuracy: 0.7273
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5549 - accuracy: 0.7263
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7301
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5602 - accuracy: 0.7246
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7278
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5566 - accuracy: 0.7306
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5518 - accuracy: 0.7338
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5555 - accuracy: 0.7286
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5621 - accuracy: 0.7245
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7321
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7305
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7293
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5571 - accuracy: 0.7284
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7344
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7340
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7304
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7350
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7317
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7301
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5550 - accuracy: 0.7295
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7320
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5583 - accuracy: 0.7273
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5544 - accuracy: 0.7275
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5556 - accuracy: 0.7267
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7338
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7313
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5538 - accuracy: 0.7301
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5540 - accuracy: 0.7294
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7353
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7315
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7335
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7336
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7355
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7333
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7325
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7310
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7353
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5534 - accuracy: 0.7270
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5539 - accuracy: 0.7300
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7374
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7306
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7343
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7331
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7339
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7404
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7369
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7378
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7338
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7370
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7306
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7339
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7350
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7305
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7311
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7342
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7305
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7352
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7299
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7351
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7325
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7325
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7317
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7336
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7362
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7289
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7391
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7368
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5508 - accuracy: 0.7321
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7327
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7328
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7399
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7359
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7345
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7384
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7378
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7364
Epoch 81/100

804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7346
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7373
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7294
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7340
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7325
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7375
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7328
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7341
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7339
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7301
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7399
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7338
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7326
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7388
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7376
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5523 - accuracy: 0.7304
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7345
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7376
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7396
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7336

In [142]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5619 - accuracy: 0.7298
Loss: 0.5619070529937744, Accuracy: 0.7297959327697754

In [143]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")
#  YOUR CODE GOES HERE